.container{ 
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    &_input{ 
        width: 350px;
        padding: 10px;
    }
    &_btn{ 
        background: teal;
        color: #FFF;
        cursor: pointer;
        border:  none;
        border-radius: 10px;
        padding: 10px 20px;
    }
}